<?php
require_once("../connection/connect.php");
?>


														<div class="modal-header" id="kt_modal_add_user_header">
															<h2 class="fw-bolder">Add Role</h2>
															<div class="btn btn-icon btn-sm btn-active-icon-primary" data-bs-dismiss="modal">
																<span class="svg-icon svg-icon-1">
																	<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
																		<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="black" />
																		<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="black" />
																	</svg>
																</span>
															</div>
														</div>
														<div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
															<div id="form_section">
																<div class="d-flex flex-column scroll-y me-n7 pe-7" id="kt_modal_add_user_scroll" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_add_user_header" data-kt-scroll-wrappers="#kt_modal_add_user_scroll" data-kt-scroll-offset="300px">
																
																	<div class="fv-row mb-7">
																		<label class="required fw-bold fs-6 mb-2">Description</label>
																		<input type="text" name="fname" id="role_name" autocomplete="off" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="Role Name"  />
																		<span id="role_name_error" style="color:red;"> *Enter role</span>
																	</div>
																	
																</div>
																<div>
																	<button type="submit" id="save_request" class="btn btn-primary" data-kt-users-modal-action="submit">
																		<span class="indicator-label">Save</span>							
																	</button>
																	<span class="loader"><img src="images/loader.gif" width="30px" height="30px"/>Requesting...</span><br/><br/>
																	
																</div>
															</div>
														<div id="response"></div><br/>
														</div>
													</div>
<script>
//hide errors
$("#role_name_error").hide();
$(".loader").hide();
$(document).ready(function(){
$("#save_request").click(function(e){
e.preventDefault();
role_name = $("#role_name").val();
error = false;
$("#response").empty();

if(role_name ===''){
error =true;
$("#role_name_error").fadeIn();
$("#role_name").focus();
}else{
$("#role_name_error").fadeOut();
}


if(error ==false){
//hide submit button
$("#submit").fadeOut();
$(".loader").fadeIn();
var myData = 'role_name='+ role_name; //build a post data structure
jQuery.ajax({
type: "POST", // Post / Get method
url: "process/add_role.php", //Where form data is sent on submission
dataType:"text", // Data type, HTML, json etc.
data:myData, //Form variables
success:function(response){
$("#response").append(response); 
$('.loader').fadeOut();
$('#submit').fadeIn();
$('#response').fadeIn();
}

});
}
});

});
</script>													
													