<?php
//lets get the delivery id
$del_id = sanitize_string($_GET['del_id']);
//get record with the delivery id
$qr_row=mysql_fetch_assoc(mysql_query("select tdn.vehicle_no,tdn.taken_by, usatn.fname,usatn.lname,usatn.user_id,s.site_id,s.site_name,pk.pack_id, tdn.delivery_id, tdn.qty, tdn.mat_id,tdn.del_details,mt.mat_name,pk.pack_name from temp_delivery_note as tdn left join materials as mt on mt.mat_id = tdn.mat_id
left join packages as pk on pk.pack_id = tdn.pack_id
left join users as usatn on usatn.user_id = tdn.attn_user_id
left join sites as s on s.site_id=tdn.to_site_id where tdn.delivery_id='$del_id' limit 1"));

?>

 <link href="../css/select2.css" rel="stylesheet"/>
    <script src="../js/select2.js"></script>

<script>

$(document).ready(function(){
	//Delete Requisition cart item
$("#deldel_<?php echo $qr_row['delivery_id'];?>").click(function(){												
$("#response").empty();													
var con = confirm("Are you sure you want to remove this delivery item?");													
	if(con==true){
	//we select the first link 
	//then call the attr method to get back the href value
	var del_id = <?php echo $del_id; ?>;
	$.post("../process/delete_delivery.php",
	{ del_id : del_id  },
	function(del_id) {
	$("#response").html(del_id);											 
	});											
	}
});
<?php if($_SESSION['COMSYS_IS_MOBILE']!=1){ ?>
$("#mat_name").select2();  
$("#by_name").select2();
$("#attention").select2();

<?php } ?>
//hide all errors when form loads
$("#del_name_error").hide();
$("#taken_by_error").hide();
$("#vehicle_no_error").hide();
$("#attention_error").hide();
$("#site_name_error").hide();
$("#mat_name_error").hide();
$("#by_name_error").hide();
$("#ref_no_error").hide();
$("#qty_error").hide();
$("#pack_name_error").hide();
$("#desc_error").hide();
$("#response").hide();
$(".loader").hide()
$("#response").hide();
$(".loader").hide();

//check if submit button has been clicked

	$("#submit").click(function(e){
		e.preventDefault();
		$("#response").empty();
		
		//$("#CompleteTrans").fadeIn();
		//error
		error = false;
		ref_no = $("#ref_no").val();
	 del_id = <?php echo $del_id; ?>;
	 	del_name = $("#del_name").val();
		attention = $("#attention").val();
		site_name = $("#site_name").val();
		vehicle_no = $("#vehicle_no").val();
		mat_name = $("#mat_name").val();
		taken_by = $("#taken_by").val();
		by_name = $("#by_name").val();
		pack_name = $("#pack_name").val();
	    qty = $("#qty").val();
		 desc = $("#desc").val();
		 
		 if(by_name ===''){
		error =true;
		$("#by_name_error").fadeIn();
		$("#by_name").focus();
		}else{
		$("#by_name_error").fadeOut();
		
		}

	    if(desc ===''){
		error =true;
		$("#desc_error").fadeIn();
		$("#desc").focus();
		}else{
		$("#desc_error").fadeOut();
		
		}
	   if(qty ===''){
		error =true;
		$("#qty_error").fadeIn();
		$("#qty").focus();
		}else{
		$("#qty_error").fadeOut();
		
		}
		if(pack_name ===''){
		error =true;
		$("#pack_name_error").fadeIn();
		$("#pack_name").focus();
		}else{
		$("#pack_name_error").fadeOut();
		
		}
	     
		 if(site_name ===''){
		error =true;
		$("#site_name_error").fadeIn();
		$("#site_name").focus();
		}else{
		$("#site_name_error").fadeOut();
		
		}
		 if(vehicle_no ===''){
		error =true;
		$("#vehicle_no_error").fadeIn();
		$("#vehicle_no").focus();
		}else{
		$("#vehicle_no_error").fadeOut();
		
		}
		 if(taken_by ===''){
		error =true;
		$("#taken_by_error").fadeIn();
		$("#taken_by").focus();
		}else{
		$("#taken_by_error").fadeOut();
		
		}
		if(attention ===''){
		error =true;
		$("#attention_error").fadeIn();
		$("#attention").focus();
		}else{
		$("#attention_error").fadeOut();
		
		}
			if(del_name ===''){
		error =true;
		$("#del_name_error").fadeIn();
		$("#del_name").focus();
		}else{
		$("#del_name_error").fadeOut();
		
		}
		if(ref_no ===''){
		error =true;
		$("#ref_no_error").fadeIn();
		$("#ref_no").focus();
		}else{
		$("#ref_no_error").fadeOut();
		
		}
		
		
		//if no errors send request to server
		if(error ==false){
		//hide submit button
		$("#submit").fadeOut();
		$(".loader").fadeIn();
	
		/* Ajax Request here*/
					//data values
			var myData = 'ref_no='+ref_no  + '&mat_name='+ mat_name+'&pack_name='+ pack_name+ '&qty='+ qty+ '&desc='+ desc +
			'&by_name='+ by_name + '&site_name='+ site_name  + '&vehicle_no='+ vehicle_no + '&attention='+ attention + '&taken_by='+ taken_by + '&del_id='+ del_id + '&del_name='+ del_name; //build a post data structure
			jQuery.ajax({
			type: "POST", // Post / Get method
			url: "../process/edit_delivery.php", //Where form data is sent on submission
			dataType:"text", // Data type, HTML, json etc.
			data:myData, //Form variables
			success:function(response){
			$("#response").append(response); 
			$('.loader').fadeOut();
			$('#submit').fadeIn();			
			$('#response').fadeIn();
			}

			});
		}
		
		});
});	

</script>	


		<div class="col-sm-4" style="background-color:#fff;border:2px solid #616A6B;">
					<div class="signup-form">
						<h2>Edit Delivery Note</h2>
						<form action="../process/edit_delivery.php" method="POST">
						<span class="error" id="ref_no_error">* Ref No</span><br/>
						    <label>Ref No:</label>
							<input type="text" name="ref_no" disabled id="ref_no" value="<?php echo $_SESSION['COMSYS_DelRefNo']; ?>" />
					<span class="error" id="del_name_error">* Delivery Name</span><br/>
						    <label>Delivery Name:</label>
							<input type="text" name="del_name"  id="del_name" value="" placeholder="Delivery Name" />
							<span class="error" id="site_name_error">* Choose Site</span><br/>
							<label>Site Name (To which these materials are going)</label>
							<select name="site_name" id="site_name" style="width:100%">
								<option value="<?php echo $qr_row['site_id']; ?>"><?php echo $qr_row['site_name']; ?></option>
								<?php
								
								$qr = mysql_query("select * from sites order by site_name asc");
								while($qrow=mysql_fetch_assoc($qr)){
								
								?>
								<option value="<?php echo $qrow['site_id'];?>"><?php echo $qrow['site_name'];?></option>
								<?php
								}
								?>
							</select><br/>
							   <label>Attention:</label>
							 <span class="error" id="attention_error">* Person to bring to attention about this delivery</span><br/>
							<select name="attention" id="attention" style="width:100%">
								<option value="<?php echo $qr_row['user_id']; ?>"><?php echo $qr_row['fname'].' '.$qr_row['lname']; ?></option>
								<?php
								
								$qr = mysql_query("select * from users where user_role = 'CompanyAdmin' or user_role='SiteAdmin' 
								or user_role='SiteManager'  order by fname asc");
								while($qrow=mysql_fetch_assoc($qr)){
								
								?>
								<option value="<?php echo $qrow['user_id'];?>"><?php echo $qrow['fname'].' '.$qrow['lname'];?></option>
								<?php
								}
								?>
							</select><br/>
						    <label>Taken By:</label>
							<span class="error" id="taken_by_error">* Taken By</span><br/>
							<input type="text" name="taken_by"  id="taken_by" value="<?php echo $qr_row['taken_by']; ?>" placeholder="Taken By"  />
							<label>Vehicle No:</label>
							<span class="error" id="vehicle_no_error">* Vehicle Registration No</span><br/>
							<input type="text" name="vehicle_no"  id="vehicle_no" value="<?php echo $qr_row['vehicle_no']; ?>" placeholder="Vehicle Registration No"  />
								<span class="error" id="mat_name_error">* Choose Materials</span><br/>
							<label>Material</label>
							<select name="mat_name" id="mat_name" style="width:100%">
								<option value="<?php echo $qr_row['mat_id']; ?>"><?php echo $qr_row['mat_name']; ?></option>
								<?php
								
								$qr = mysql_query("select * from materials  group by mat_name order by mat_name asc");
								while($qrow=mysql_fetch_assoc($qr)){
								
								?>
								<option value="<?php echo $qrow['mat_id'];?>"><?php echo $qrow['mat_name'];?></option>
								<?php
								}
								?>
							</select><br/></br>
							<label>Package:</label>
							<span class="error" id="pack_name_error">* Choose Package</span><br/>
							<select name="pack_name" id="pack_name">
								<option value="<?php echo $qr_row['pack_id']; ?>"><?php echo $qr_row['pack_name']; ?></option>
								<?php
								
								$qr = mysql_query("select * from packages group by pack_name order by pack_name asc");
								while($qrow=mysql_fetch_assoc($qr)){
								
								?>
								<option value="<?php echo $qrow['pack_id'];?>"><?php echo $qrow['pack_name'];?></option>
								<?php
								}
								?>
							</select><br/>
		
							<span class="error" id="qty_error">* Quantity</span><br/>
							<label>Quantity:</label>
							<input type="text" name="qty" id="qty" value="<?php echo $qr_row['qty']; ?>" placeholder="Quantity"/>
							<span class="error" id="desc_error">* Description</span><br/>
							<label>Description:</label>
							<input type="text" name="desc" id="desc"  value="<?php echo $qr_row['del_details']; ?>"placeholder="Description"/>
						    <label>To be Approved By:</label>
							 <span class="error" id="by_name_error">* Select User</span><br/>
							<select name="by_name[]" id="by_name" multiple="multiple" style="width:100%">
								<option value="">--Choose User--</option>
								<?php
								
								$qr = mysql_query("select * from users where user_role = 'CompanyAdmin' or user_role='SiteAdmin' 
								or user_role='SiteManager'  order by fname asc");
								while($qrow=mysql_fetch_assoc($qr)){
								
								?>
								<option value="<?php echo $qrow['user_id'];?>"><?php echo $qrow['fname'].' '.$qrow['lname'];?></option>
								<?php
								}
								?>
							</select><br/></br>
						<button type="submit" id="submit" class="btn btn-default">Update Cart</button> or <a href="#DelThis" id="deldel_<?php echo $qr_row['delivery_id'];?>">Remove Item</a> or 
						<a href="?acc_type=<?php echo $_SESSION['COMSYS_AccountType']; ?>&sec=del&act=new_del#new_del" >View Cart</a>
							<span class="loader" id="DelThis"><img src="../images/loader.gif" width="80px" height="80px"/>Processing Request...</span><br/>
							<div id="response"></div><br/>
							
	 
					</div>
				</div>
				
			