<a href="?acc_type=<?php echo $_SESSION['COMSYS_AccountType']; ?>&section=stores&action=my_store&sa=new_prod">New Product</a>
 | <a href="?acc_type=<?php echo $_SESSION['COMSYS_AccountType']; ?>&section=stores&action=my_store&sa=new_cat">New Category</a> 
 | <a href="?acc_type=<?php echo $_SESSION['COMSYS_AccountType']; ?>&section=stores&action=my_store&sa=edit_prod">Edit Product</a> 
 | <a href="?acc_type=<?php echo $_SESSION['COMSYS_AccountType']; ?>&section=stores&action=my_store&sa=new_pack">New Package</a> 
 | <a href="?acc_type=<?php echo $_SESSION['COMSYS_AccountType']; ?>&section=stores&action=my_store&sa=st_trans">Stock Transfer</a>