<script>

$(document).ready(function(){
//hide all errors when form loads
$("#cat_name_error").hide();
$("#cat_name_error").hide();
$("#cat_desc_error").hide();
$("#response").hide();
$(".loader").hide();
//check if submit button has been clicked

		$("#submit").click(function(e){
		e.preventDefault();
		$("#response").empty();
		//error
		error = false;
		cat_name = $("#cat_name").val();
	    cat_desc = $("#cat_desc").val();
		//validate data
	  if(cat_desc ===''){
		error =true;
		$("#cat_desc_error").fadeIn();
		$("#cat_desc").focus();
		}else{
		$("#cat_desc_error").fadeOut();
		
		}
		if(cat_name ===''){
		error =true;
		$("#cat_name_error").fadeIn();
		$("#cat_name").focus();
		}else{
		$("#cat_name_error").fadeOut();
		
		}
		
		//if no errors send request to server
		if(error ==false){
		//hide submit button
		$("#submit").fadeOut();
		$(".loader").fadeIn();
		
		/* Ajax Request here*/
					//data values
			var myData = 'cat_name='+cat_name + '&cat_desc='+ cat_desc ; //build a post data structure
			jQuery.ajax({
			type: "POST", // Post / Get method
			url: "../process/new_product_category.php", //Where form data is sent on submission
			dataType:"text", // Data type, HTML, json etc.
			data:myData, //Form variables
			success:function(response){
			$("#response").append(response); 
			$('.loader').fadeOut();
			$('#submit').fadeIn();
			$('#response').fadeIn();
			}

			});
		}
		
		});
});	

</script>	


		<div class="col-sm-6" style="background-color:#fff;border:2px solid #616A6B;margin:20px;">
					<div class="signup-form">
						<h2>New Material Category</h2>
						<form action="../process/new_product_category.php" method="POST">
						    <span class="error" id="cat_name_error">* Category Name</span><br/>
							<input type="text" name="cat_name" id="cat_name" placeholder="Category Name"/>
							<span class="error" id="cat_desc_error">* Category Description</span><br/>
							<input type="text" name="cat_desc" id="cat_desc" placeholder="Category Desc"/>
						
							<button type="submit" id="submit" class="btn btn-blue-alt">Save Record</button>
							<span class="loader"><img src="../images/loader.gif" width="50px" height="50px"/>Processing Request...</span>
							<div id="response"></div>
						</form>
					</div>
				</div>