<?php
require_once("../connection/connect.php");
//lets get all the site requisitions
$site_req = $conn->prepare("SELECT req.id AS item_id, req.order_no, req.qty, req.req_status, req.req_desc, req.req_date, req.user_id,mt.mat_name, us.fname, b.building_name, s.site_name  FROM site_materials_request_form AS req LEFT JOIN materials AS mt  ON mt.id = req.mat_id LEFT JOIN building AS b ON b.id = req.building_id LEFT JOIN users AS us ON us.id = req.user_id LEFT JOIN sites AS s ON s.id = req.site_id  WHERE req.req_status='A' GROUP BY req.order_no ORDER BY req.order_no DESC");
$site_req->execute();
$site_req_rows = $site_req->fetchAll(PDO::FETCH_ASSOC);

//Get all materials
$mat = $conn->prepare("SELECT id AS item_id, mat_name FROM materials AS mt ORDER BY mat_name ASC");
$mat->execute();
$mat_rows = $mat->fetchAll(PDO::FETCH_ASSOC);
//Suppliers
$sup = $conn->prepare("SELECT id AS item_id, sup_name FROM suppliers ORDER BY sup_name ASC");
$sup->execute();
$sup_rows = $sup->fetchAll(PDO::FETCH_ASSOC);
//Sites
$sites = $conn->prepare("SELECT id AS item_id, site_name FROM sites ORDER BY site_name ASC");
$sites->execute();
$site_rows = $sites->fetchAll(PDO::FETCH_ASSOC);
function generateRandomString($length = 10) {
    $characters = '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ';
    $charactersLength = strlen($characters);
    $randomString = '';
    for ($i = 0; $i < $length; $i++) {
        $randomString .= $characters[rand(0, $charactersLength - 1)];
    }
    return $randomString;
   }

    $ref_no = strtoupper(generateRandomString());
?>


<div class="modal-header" id="kt_modal_add_user_header">
	<h2 class="fw-bolder">New Purchase Order</h2>
	<div class="btn btn-icon btn-sm btn-active-icon-primary" data-bs-dismiss="modal">
	<span class="svg-icon svg-icon-1">
	<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="black" />
	<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="black" />
		</svg>
	</span>
	</div>
	</div>
	<div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
	<div id="form_section">
	<div class="fv-row mb-7">
			   <label class="required fw-bold fs-6 mb-5">Requisition No</label>
					<div class=" fv-row">
						<select class="form-select form-select-solid" id="requisition" data-control="select2" data-hide-search="true" data-placeholder="Select Item">
							<option value="">{--Select Requisition --}</option>
							<?php 
							foreach($site_req_rows as $row){
							?>
							<option value="<?php echo $row['item_id']; ?>"><?php echo $row['order_no']."-".$row['mat_name']."-".titleCase($row['site_name'])."-".$row['req_date']; ?></option>
							<?php
							}
							?>		
						</select>
						<span id="requisition_error" style="color:red;"> *Select Requisition</span>
						</div>
		</div>
		<div class="fv-row mb-7">
			   <label class="required fw-bold fs-6 mb-5">Supplier</label>
					<div class=" fv-row">
						<select class="form-select form-select-solid" id="supplier2" data-control="select2" data-hide-search="true" data-placeholder="Select Item">
							<option value="">{--Select Supplier--}</option>
							<?php 
							foreach($sup_rows as $row){
							?>
							<option value="<?php echo $row['item_id']; ?>"><?php echo titleCase($row['sup_name']); ?></option>
							<?php
							}
							?>		
						</select>
						<span id="supplier_error" style="color:red;"> *Select Supplier</span>
						</div>
		</div>
		<div class="fv-row mb-7">
			<label class="required fw-bold fs-6 mb-5">Material</label>
					<div class=" fv-row">
						<select class="form-select form-select-solid" id="material" data-control="select2" data-hide-search="true" data-placeholder="Select Item">
							<option value="">{--Select Option--}</option>
							<?php 
							foreach($mat_rows as $row){
							?>
							<option value="<?php echo $row['item_id']; ?>"><?php echo titleCase($row['mat_name']); ?></option>
							<?php
							}
							?>		
						</select>
						<span id="material_error" style="color:red;"> *Select Material</span>
						</div>
				</div>
			
				<div class="fv-row mb-7">
			   <label class="required fw-bold fs-6 mb-5">Site</label>
					<div class=" fv-row">
						<select class="form-select form-select-solid" id="site2" data-control="select2" data-hide-search="true" data-placeholder="Select Item">
							<option value="">{--Select Option--}</option>
							<?php 
							foreach($site_rows as $row){
							?>
							<option value="<?php echo $row['item_id']; ?>"><?php echo titleCase($row['site_name']); ?></option>
							<?php
							}
							?>		
						</select>
						<span id="site_error" style="color:red;"> *Select Site</span>
						</div>
				</div>
		  <div class="fv-row mb-7">
			<label class="required fw-bold fs-6 mb-2">Quantity</label>
			<input type="text" name="fname" id="quantity" autocomplete="off" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="Quantity"  />
			<span id="quantity_error" style="color:red;"> *Enter quantity</span>
			</div>
			<div class="fv-row mb-7">
			<label class="required fw-bold fs-6 mb-2">Rate</label>
			<input type="text" name="fname" id="rate" autocomplete="off" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="Rate"  />
			<span id="rate_error" style="color:red;"> *Enter Rate</span>
			</div>

	       <div class="d-flex flex-column scroll-y me-n7 pe-7" id="kt_modal_add_user_scroll" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_add_user_header" data-kt-scroll-wrappers="#kt_modal_add_user_scroll" data-kt-scroll-offset="300px">
																
		   <div class="fv-row mb-7">
			<label class="required fw-bold fs-6 mb-2">Description</label>
			<input type="text" name="fname" id="remark" autocomplete="off" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="Remarks"  />
			<span id="remark_error" style="color:red;"> *Enter remarks</span>
			</div>
		</div>
		<button class="btn btn-xs btn-sm btn-danger" id="add" >Add Item </button> | <button class="btn btn-xs btn-sm btn-success" id="refresh" > Refresh</button>
		<span class="loader2"><img src="images/loader.gif" width="20px" height="20px"/>Adding...</span><br/><br/>
		<div id="response2"></div><br/>
		<div id="ReqItemsList"></div><hr/>
		<br><div id="fields_error" class="alert alert-danger">* Please fill in all the highlighted fields.</div><br/>
		<div>
		<button type="submit" id="save_request" class="btn btn-primary" data-kt-users-modal-action="submit">
		<span class="indicator-label">Save</span>							
		</button>
		<span class="loader"><img src="images/loader.gif" width="30px" height="30px"/>Requesting...</span><br/><br/>
		
		</div>
		</div>
		<div id="response"></div><br/>
	</div>
</div>
<script>
//hide errors
$("#material_error").hide();
$("#requisition_error").hide();
$("#supplier_error").hide();
$("#site_error").hide();
$("#rate_error").hide();
$("#quantity_error").hide();
$("#remark_error").hide();
$(".loader").hide();
$(".loader2").hide();
$("#save_request").hide();
$("#fields_error").hide();
$(document).ready(function(){
/*$('#requisition').select2({
dropdownParent: $("#ModalContentAddNew")
});*/
$('#material').select2({
dropdownParent: $("#ModalContentAddNew")
});
/*$('#supplier2').select2({
dropdownParent: $("#ModalContentAddNew")
});
$('#site2').select2({
dropdownParent: $("#ModalContentAddNew")
});*/


$("#save_request").click(function(e){
e.preventDefault();
req = $("#requisition").val();
material = $("#material").val();
supplier = $("#supplier2").val();
site = $("#site2").val();
rate = $("#rate").val();
quantity = $("#quantity").val();
remark = $("#remark").val();
error = false;
$("#response").empty();


if(req ===''){
error =true;
$("#requisition_error").fadeIn();
$("#requisition").focus();
}else{
$("#requisition_error").fadeOut();
}
if(material ===''){
error =true;
$("#material_error").fadeIn();
$("#material").focus();
}else{
$("#material_error").fadeOut();
}
if(supplier ===''){
error =true;
$("#supplier_error").fadeIn();
$("#supplier2").focus();
}else{
$("#supplier_error").fadeOut();
}
if(site ===''){
error =true;
$("#site_error").fadeIn();
$("#site2").focus();
}else{
$("#site_error").fadeOut();
}
if(rate ===''){
error =true;
$("#rate_error").fadeIn();
$("#rate").focus();
}else{
$("#rate_error").fadeOut();
}
if(quantity ===''){
error =true;
$("#quantity_error").fadeIn();
$("#quantity").focus();
}else{
$("#quantity_error").fadeOut();
}
if(remark ===''){
error =true;
$("#remark_error").fadeIn();
$("#remark").focus();
}else{
$("#remark_error").fadeOut();
}


if(error ==false){
//hide submit button
$("#save_request").fadeOut();
$(".loader").fadeIn();
var myData = 'site='+ site + '&supplier=' + supplier + '&req=' + req; //build a post data structure
jQuery.ajax({
type: "POST", // Post / Get method
url: "process/save_purchase_order.php", //Where form data is sent on submission
dataType:"text", // Data type, HTML, json etc.
data:myData, //Form variables
success:function(response){
$("#response").append(response); 
$('.loader').fadeOut();
$('#save_request').fadeIn();
$('#response').fadeIn();
}

});
}
});

});

 //Hit Refresh to reload the data
 $("#refresh").click(function(e){
 e.preventDefault();
 $(".loader").hide();
 ajaxrequest('views/purchase_order_items.php', 'ReqItemsList');
 //Show save button
 $("#save_request").fadeIn();
 });
//Add to cart button
 $("#add").click(function(e){//User clicks the add button post record and return response
 e.preventDefault();
 $("#ReqItemsList").empty();
 $("#response2").empty();
 error = false;
 material = $("#material").val();
 ref_no = "<?php echo $ref_no; ?>";
 quantity = $("#quantity").val();
 remark = $("#remark").val();
 rate = $("#rate").val();

	 
if(material ===''){
error =true;
$("#material_error").fadeIn();
$("#material").focus();
}else{
$("#material_error").fadeOut();
} 
if(quantity ===''){
error =true;
$("#quantity_error").fadeIn();
$("#quantity").focus();
}else{
$("#quantity_error").fadeOut();
}
if(remark ===''){
error =true;
$("#remark_error").fadeIn();
$("#remark").focus();
}else{
$("#remark_error").fadeOut();
}

if(rate ===''){
error =true;
$("#rate_error").fadeIn();
$("#rate").focus();
}else{
$("#rate_error").fadeOut();
}


 
	 if(error==false){//No Error send request to server
	 $(".loader2").fadeIn();
	  $("#fields_error").hide();
	 //Send request to server for processing
		 myData = 'material='+ material +  '&quantity=' + quantity + '&ref_no=' + ref_no + '&remark=' + remark + '&rate=' + rate;
		 jQuery.ajax({
                type: "POST", // Post / Get method
                url: "process/save_purchase_order_temp.php", //Where form data is sent on submission
                dataType:"text", // Data type, HTML, json etc.
                data:myData, //Form variables
                success:function(response){
                    $("#response2").append(response);
                    $("#response2").fadeIn();
					$(".loader2").hide();
                   ajaxrequest('views/purchase_order_items.php', 'ReqItemsList');	
				   $("#save_request").fadeIn();
                }
            });
			
	 }
 
 });
// sends data to a php file, via POST, and displays the received answer
function ajaxrequest(php_file, tagID) {
  var request = (window.XMLHttpRequest) ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');  // XMLHttpRequest object
  var  the_data = '';       // here you can set data to be send to the server (pairs index=value)
  request.open("POST", php_file, true);			// set the request
 // adds  a header to tell the PHP script to recognize the data as is sent via POST
  request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  request.send(the_data);		// calls the send() method with data as parameter
  // Check request status
  // If the response is received completely, will be transferred to the HTML tag with tagID
  request.onreadystatechange = function() {
    if (request.readyState == 4) {
      var resp = request.responseText;        // get the response from php
      document.getElementById(tagID).innerHTML = resp;       // add the response into the tag with the ID from "tagID"
      // calls the parseScript() function, with the response from PHP as argument
      parseScript(resp);
    }
  }
}

// this function create an Array that contains the JS code of every <script> tag in parameter
// then apply the eval() to execute the code in every script collected
function parseScript(strcode) {
  var scripts = new Array();         // Array which will store the script's code
  // Strip out tags
  while(strcode.indexOf("<script") > -1 || strcode.indexOf("</script") > -1) {
    var s = strcode.indexOf("<script");
    var s_e = strcode.indexOf(">", s);
    var e = strcode.indexOf("</script", s);
    var e_e = strcode.indexOf(">", e);  
    // Add to scripts array
    scripts.push(strcode.substring(s_e+1, e));
    // Strip from strcode
    strcode = strcode.substring(0, s) + strcode.substring(e_e+1);
  }  
  // Loop through every script collected and eval it
  for(var i=0; i<scripts.length; i++) {
    try {
      eval(scripts[i]);
    }
    catch(ex) {
      // do what you want here when a script fails
    }
  }
}
</script>
												
													