<script>
$(document).ready(function(){
$("#email_error").hide();
$("#invalidemail_error").hide();
$("#response").hide();
$(".loader").hide();

      $("#submit").click(function(e){
		e.preventDefault();
		$("#response").empty();
		
			email = $("#email").val();

			
			error = false;

      if(email ===''){
		error =true;
		$("#email_error").fadeIn();
		$("#email").focus();
		}else{
		$("#email_error").fadeOut();
			if(email.indexOf('@') == '-1'){
			error = true;
			$('#invalidemail_error').fadeIn();
			$("#email").focus();
			 }else{
			 $('#invalidemail_error').fadeOut();
			  }
		}
		
		if(error ==false){
		//hide submit button
		$("#submit").fadeOut();
		$(".loader").fadeIn();
		
		/* Ajax Request here*/
					//data values
			var myData =  'email='+ email; //build a post data structure
			jQuery.ajax({
			type: "POST", // Post / Get method
			url: "process/recover_password.php", //Where form data is sent on submission
			dataType:"text", // Data type, HTML, json etc.
			data:myData, //Form variables
			success:function(response){
			$("#response").append(response); 
			$('.loader').fadeOut();
			$('#submit').fadeIn();
			$('#response').fadeIn();
			}

			});
		}		
		
	});
});

</script>


<div  id="border_lines" <?php if($_SESSION['COMSYS_IS_MOBILE']==1){ ?> style="width:80%;" <?php } ?> >
					<div  style="background-color:#fff;" class="login-form"><!--login form-->
						<h2>Password Recovery</h2>
						<form action="process/recover_password.php" method="POST">
						    <span class="error" id="email_error">* Email Address</span><br/>
							<span class="error" id="invalidemail_error">* Invalid Email Address</span><br/>
							<input type="email"  id="email"  name="email" placeholder="Email Address" />
								
							<button type="submit" id="submit" class="btn btn-default">Request Password</button> <br/> <a href="?sign_in"><i class="fa fa-lock"></i> Signin</a></br>
							<span class="loader"><img src="images/loader.gif" width="80px" height="80px"/>Requesting ...</span>
							<div id="response"></div>
						</form>
    </div><!--/login form-->
</div>