	<!--begin::Body-->
	<body id="kt_body" class="bg-body">
		<!--Begin::Google Tag Manager (noscript) -->
		<noscript>
			<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5FS8GGP" height="0" width="0" style="display:none;visibility:hidden"></iframe>
		</noscript>
		<!--End::Google Tag Manager (noscript) -->
		<!--begin::Main-->
		<!--begin::Root-->
		<div class="d-flex flex-column flex-root">
			<!--begin::Authentication - Sign-in -->
			<div class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed" style="background-image: url(/metronic8/demo1/assets/media/illustrations/sketchy-1/14.png">
				<!--begin::Content-->
				<div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">
					<!--begin::Logo-->
					<a href="?home" class="mb-12">
						<img alt="Logo" src="assets/media/logos/logo-1.svg" class="h-40px" />
					</a>
					<!--end::Logo-->
					<!--begin::Wrapper-->
					<div class="w-lg-500px bg-body rounded shadow-sm p-10 p-lg-15 mx-auto">
						<!--begin::Form-->
						<form class="form w-100" novalidate="novalidate" id="kt_sign_in_form" action="#">
							<!--begin::Heading-->
							<div class="text-center mb-10">
								<!--begin::Title-->
								<h1 class="text-dark mb-3">Sign In</h1>
								<!--end::Title-->
				
							</div>
							<!--begin::Heading-->
							<!--begin::Input group-->
							<div class="fv-row mb-10">
								<!--begin::Label-->
								<label class="form-label fs-6 fw-bolder text-dark">Email</label>
								<!--end::Label-->
								<!--begin::Input-->
								<input class="form-control form-control-lg form-control-solid" id="email" type="text" name="email" autocomplete="off" /><br/>
								<span id="email_error" style="color:red;"> *Enter username / email address</span>
								<!--end::Input-->
							</div>
							<!--end::Input group-->
							<!--begin::Input group-->
							<div class="fv-row mb-10">
								<!--begin::Wrapper-->
								<div class="d-flex flex-stack mb-2">
									<!--begin::Label-->
									<label class="form-label fw-bolder text-dark fs-6 mb-0">Password</label>
									<!--end::Label-->
									<!--begin::Link-->
									<a href="?forgot_password" class="link-primary fs-6 fw-bolder">Forgot Password ?</a>
									<!--end::Link-->
								</div>
								<!--end::Wrapper-->
								<!--begin::Input-->
								<input class="form-control form-control-lg form-control-solid" id="password" type="password" name="password" autocomplete="off" /><br/>
								<span id="password_error" style="color:red;"> *Enter your password</span>
								<!--end::Input-->
							</div>
							<!--end::Input group-->
							<!--begin::Actions-->
							<div class="text-center">
								<!--begin::Submit button-->
								<button type="submit" id="submit" class="btn btn-lg btn-primary w-100 mb-5">
									<span class="indicator-label">Continue</span>
						
								</button>
								<span class="loader"><img src="images/loader.gif" width="30px" height="30px"/>Signing in...</span>
							    <div id="response"></div><br/>
								<!--end::Submit button-->
					
							</div>
							<!--end::Actions-->
						</form>
						<!--end::Form-->
					</div>
					<!--end::Wrapper-->
				</div>
				<!--end::Content-->
			</div>
			<!--end::Authentication - Sign-in-->
		</div>
		<script>
$(document).ready(function(){
$("#password_error").hide();
$("#email_error").hide();
$("#response").hide();
$(".loader").hide();

      $("#submit").click(function(e){
		e.preventDefault();
		$("#response").empty();		
			email = $("#email").val();
			password = $("#password").val();		
			error = false;		
	 if(password ===''){
		error =true;
		$("#password_error").fadeIn();
		$("#password").focus();
		}else{
		$("#password_error").fadeOut();
		
		}

      if(email ===''){
		error =true;
		$("#email_error").fadeIn();
		$("#email").focus();
		}else{
		$("#email_error").fadeOut();
		}
		
		if(error ==false){
		//hide submit button
		$("#submit").fadeOut();
		$(".loader").fadeIn();
		
		/* Ajax Request here*/
					//data values
			var myData = 'email='+ email + '&password='+ password ; //build a post data structure
			jQuery.ajax({
			type: "POST", // Post / Get method
			url: "process/signin.php", //Where form data is sent on submission
			dataType:"text", // Data type, HTML, json etc.
			data:myData, //Form variables
			success:function(response){
			$("#response").append(response); 
			$('.loader').fadeOut();
			$('#submit').fadeIn();
			$('#response').fadeIn();
			}

			});
		}		
		
	});
});

</script>