<?php
include("../connection/connect.php");include_once("../modules/permissions.php");
//materials
$mat = $conn->prepare("SELECT ms.id AS item_id, mt.mat_name FROM materials_stock AS ms LEFT JOIN materials AS mt ON mt.id = ms.mat_id WHERE ms.store_id='".$_SESSION['IRIS_STORE_ID']."' ORDER BY mt.mat_name ASC ");
$mat->execute();
$mat_rows = $mat->fetchAll(PDO::FETCH_ASSOC);

?>

<div class="card-body pt-0">
<div class="card-header border-0 pt-5">
<h3 class="card-title align-items-start flex-column">
<span class="card-label fw-bolder fs-3 mb-1">Update Stock</span>
</h3>
</div>
	<div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
	<div id="form_section">
		<div class="d-flex flex-column scroll-y me-n7 pe-7" id="kt_modal_add_user_scroll" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_add_user_header" data-kt-scroll-wrappers="#kt_modal_add_user_scroll" data-kt-scroll-offset="300px">
				<div class="mb-7">
			    <label class="required fw-bold fs-6 mb-5">Material</label>
					<div class="col-md-6 fv-row">
						<select class="form-select form-select-solid" id="material" data-control="select2" data-hide-search="true" data-placeholder="Select Item">
							<option value="">{--Select Option--}</option>
							<?php 
							foreach($mat_rows as $row){
							?>
							<option value="<?php echo $row['item_id']; ?>"><?php echo titleCase($row['mat_name']); ?></option>
							<?php
							}
							?>		
						</select>
						<span id="material_error" style="color:red;"> *Select Material</span>
						</div>
				</div>	
					
			<div class="fv-row mb-7">
			<div class="col-md-6 fv-row">
				<label class="required fw-bold fs-6 mb-2">Quantity</label>
				<input type="text" id="quantity" autocomplete="off" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="Enter Quantity"  />
				<span id="quantity_error" style="color:red;"> *Enter Quantity</span>
		     </div>	
		  </div>

			<div class="fv-row mb-7">
			<div class="col-md-6 fv-row">
				<label class="required fw-bold fs-6 mb-2">Description</label>
				<input type="text"  id="remark" autocomplete="off" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="Enter Description"  />
				<span id="remark_error" style="color:red;"> *Enter Description</span>
		     </div>	
		  </div>		  
		</div>
		<div>
		<button type="submit" id="save_request" class="btn btn-primary" data-kt-users-modal-action="submit">
		<span class="indicator-label">Save</span>							
		</button>
		<span class="loader"><img src="images/loader.gif" width="30px" height="30px"/>Requesting...</span><br/><br/>
		
	</div>
	</div>
	<div id="response"></div><br/>
</div>	
</div>
<script>
$(document).ready(function(){
//hide errors
$("#material_error").hide();
$("#quantity_error").hide();
$("#remark_error").hide();
$(".loader").hide();

$("#save_request").click(function(e){
e.preventDefault();
material= $("#material").val();
quantity= $("#quantity").val();
remark= $("#remark").val();
error = false;
$("#response").empty();

if(material===''){
error =true;
$("#material_error").fadeIn();
$("#material").focus();
}else{
$("#material_error").fadeOut();
}
if(quantity===''){
error =true;
$("#quantity_error").fadeIn();
$("#quantity").focus();
}else{
$("#quantity_error").fadeOut();
}
if(remark===''){
error =true;
$("#remark_error").fadeIn();
$("#remark").focus();
}else{
$("#remark_error").fadeOut();
}


if(error ==false){
//hide submit button
$("#submit").fadeOut();
$(".loader").fadeIn();
var myData = 'quantity=' + quantity + '&material=' + escape(material) + '&remark=' + escape(remark); //build a post data structure
jQuery.ajax({
type: "POST", // Post / Get method
url: "process/update_stock.php", //Where form data is sent on submission
dataType:"text", // Data type, HTML, json etc.
data:myData, //Form variables
success:function(response){
$("#response").append(response); 
$('.loader').fadeOut();
$('#submit').fadeIn();
$('#response').fadeIn();
}

});
}
});

});
$('#material').select2();
</script>			