<style>

#selectImage{
padding: 22px 21px 14px 15px;
position: absolute;
bottom: 0px;
width: 414px;
background-color: #FEFFED;
border-radius: 10px;
}
.submit{
font-size: 16px;
background: linear-gradient(#ffbc00 5%, #ffdd7f 100%);
border: 1px solid #e5a900;
color: #4E4D4B;
font-weight: bold;
cursor: pointer;
width: 300px;
border-radius: 5px;
padding: 10px 0;
outline: none;
margin-top: 20px;
margin-left: 15%;
}
.submit:hover{
background: linear-gradient(#ffdd7f 5%, #ffbc00 100%);
}
#file {
color: red;
padding: 5px;
margin-top: 5px;
border-radius: 5px;
margin-left: 14%;
width: 72%;
}
#message{
position:absolute;
top:250px;
left:500px;

}
#success
{
color:green;
}
#invalid
{
color:red;
}
#line 
{
margin-top:20px;
}
#error
{
color:red;
}
#error_message
{
color:blue;
}
#loading
{

}
</style>
<script>
$(document).ready(function (e) {
	$("#uploadimage").on('submit',(function(e) {
		e.preventDefault();
		$("#message").empty(); 
		$('#loading').show();
		$.ajax({
        	url: "../process/upload_lpo.php",   	// Url to which the request is send
			type: "POST",      				// Type of request to be send, called as method
			data:  new FormData(this), 		// Data sent to server, a set of key/value pairs representing form fields and values 
			contentType: false,       		// The content type used when sending data to the server. Default is: "application/x-www-form-urlencoded"
    	    cache: false,					// To unable request pages to be cached
			processData:false,  			// To send DOMDocument or non processed data file it is set to false (i.e. data should not be in the form of string)
			success: function(data)  		// A function to be called if request succeeds
		    {
			$('#loading').hide();
			$("#message").html(data);			
		    }	        
	   });
	}));

// Function to preview image
	$(function() {
        $("#file").change(function() {
			$("#message").empty();         // To remove the previous error message
			var file = this.files[0];
			var imagefile = file.type;
			var match= ["image/pdf"];	
			if(!((imagefile==match[0]) || (imagefile==match[1]) || (imagefile==match[2])))
			{
	
			$("#message").html("<p id='error'>Please Select A valid PDF File</p>"+"<h4>Note</h4>"+"<span id='error_message'>Only PDF File types allowed</span>");
			return false;
			}
            else
			{
                var reader = new FileReader();	
                reader.onload = imageIsLoaded;
                reader.readAsDataURL(this.files[0]);
            }		
        });
    });
	function imageIsLoaded(e) { 
		$("#file").css("color","green");
       
	};
});
</script>
<div class="main">
<h1>Upload LPO PDF File</h1><br/>
<hr>
<form id="uploadimage" action="" method="post" enctype="multipart/form-data">

<hr id="line">
<div id="selectImage">
<label>Select Your File</label><br/>
<input type="file" name="file" id="file" required />
<input type="submit" value="Upload" class="submit" />
</div>
</form>
</div>
<br/><div id="loading">loading..</div>
<div id="message"></div><br/><br/><br/><br/>