<?php
require_once("../connection/connect.php");
 include_once("../modules/permissions.php");
$order_no = sanitize_string($_GET['order_no']);
//get order details
$order = $conn->prepare("SELECT gi.id AS item_id, gi.inward_no, gi.inw_date, gi.inw_time, gi.in_status, gi.delivery_note_no, gi.delivered_by, gi.g_desc, gi.vehicle_no, s.sup_name, us.fname  FROM good_inward AS gi LEFT JOIN materials AS mt ON mt.id = gi.mat_id LEFT JOIN users AS us ON us.id = gi.user_id LEFT JOIN suppliers AS s ON s.id = gi.sup_id  WHERE gi.inward_no='".$order_no."' LIMIT 1");
$order->execute();
$order_row = $order->fetch(PDO::FETCH_ASSOC);
//Company details
$company = $conn->prepare("SELECT * FROM company");
$company->execute();
$company_row = $company->fetch(PDO::FETCH_ASSOC);
$t_type = $order_row['in_status'];
			   
if($t_type=='A'){
$status = '<font color="#2ECC71">Approved</font>'; 
}elseif($t_type=='P'){
$status = '<font color="#E67E22">Pending</font>'; 
}elseif($t_type=='R'){
$status = '<font color="#E74C3C">Rejected</font>';
}elseif($t_type=='C'){
$status = '<font color="#3498DB">Completed</font>';  
}elseif($t_type=='N'){
$status = '<font color="#3498DB">New</font>';				   
}

?>

<div class="modal-header" id="kt_modal_add_user_header">
	<h2 class="fw-bolder">Inward Document</h2>
	<div class="btn btn-icon btn-sm btn-active-icon-primary" data-bs-dismiss="modal">
	<span class="svg-icon svg-icon-1">
	<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="black" />
	<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="black" />
		</svg>
	</span>
	</div>
	</div>
	<div class="modal-body scroll-y mx-5">
	  <!-- Main Content -->
	  <div id="print_section" style="background:#fff;">
	    <header>
  <div class="row align-items-center" style="font-size:10px;background:#fff;">
        <table width="100%" border="0">
          <tr>
            <td> <div class="col-sm-6 order-sm-0" style="padding:10px;"> <!--<strong><?php echo $company_row['company_name']; ?></strong>-->
      <address>
      <i class="fas fa-map-pin" style="color:#E67E22;font-size:10px;"></i>   <?php echo $company_row['phy_add']; ?><br />
      <i class="fas fa-envelope" style="color:#E67E22;font-size:10px"></i> P.O Box <?php echo $company_row['postal_add']."-".$company_row['postal_code']; ?><br />
      <i class="fas fa-phone" style="color:#E67E22;font-size:10px"></i> <?php echo $company_row['mobile_no']; ?><br />
      <i class="fas fa-at" style="color:#E67E22;font-size:10px"></i> <?php echo $company_row['email']; ?><br />
	  <i class="fas fa-globe" style="color:#E67E22;font-size:10px"></i> <?php echo $company_row['website']; ?>
      </address>
      </div></td>
            <td><div style="align:left" class="">
              <div align="right"><img id="logo" width="100px;" height="100px;" src="images/logo.png" title="Willstone Homes" alt="Willstone Homes" />
                        </div>
            </div></td>
          </tr>
        </table>
        <table width="100%" border="0" style="margin-bottom:10px;">
      <tr>
      <td width="35%">&nbsp;</td>
        <td width="30%"><div align="center" style=" padding:5px; font-size:12px; border: 1px solid #E67E22;"><strong>Inward Note</strong></div></td>
        <td width="35%">&nbsp;</td>
      </tr>
    </table>
  </div>
  <hr>
  </header>
  <main style="font-size:10px;background:#fff;">

    <table width="100%" border="0">
      <tr>
        <td><div align="right"><strong>Date</strong>:</div></td>
        <td><div align="left"><?php echo $order_row['inw_date']; ?></div></td>
        <td width="60%"><div align="right"><strong>Inward No:</strong></div></td>
        <td><div align="left"><?php echo $order_row['inward_no']; ?></div></td>
      </tr>
	  <tr>
	  	<td><div align="right"><strong>Supplier</strong>:</div></td>
        <td><div align="left"><?php echo titleCase($order_row['sup_name']); ?></div></td>
	    <td><div align="right"><strong>Status:</strong></div></td>
       <td><div align="left"><?php echo $status; ?></div></td>
	  </tr>
      <tr>
	     <td><div align="right"><strong>Delivery No</strong>:</div></td>
        <td><div align="left"><?php echo $order_row['delivery_note_no']; ?></div></td>
        <td><div align="right"><strong>Received By:</strong></div></td>
        <td><div align="left"><?php echo titleCase($order_row['fname']);  ?></div></td>
	    
      </tr>
	  <tr>
	     <td><div align="right"><strong>Delivered BY</strong>:</div></td>
        <td><div align="left"><?php echo $order_row['delivered_by']; ?></div></td>
        <td><div align="right"><strong>&nbsp;</strong></div></td>
        <td><div align="left">&nbsp;</div></td>	    
      </tr>
	  <tr>
	     <td><div align="right"><strong>Vehicle Reg. No</strong>:</div></td>
        <td><div align="left"><?php echo $order_row['vehicle_no']; ?></div></td>
        <td><div align="right"><strong>&nbsp;</strong></div></td>
        <td><div align="left">&nbsp;</div></td>
	    
      </tr>
    </table>
    <hr>
   <!-- <table width="100%" border="0" style="margin-bottom:10px;">
      <tr>
      <td width="35%">&nbsp;</td>
        <td width="30%"><div align="center" style=" padding:5px; font-size:12px; border: 1px solid #E67E22;"><strong>Purchase Order</strong></div></td>
        <td width="35%">&nbsp;</td>
      </tr>
    </table>-->
    <div class="card" style="background:#fff;">
    <div class="card-body p-0" style="background:#fff;">
	 <?php 
	 //get order items
	 $order_items = $conn->prepare("SELECT gi.id AS item_id,  gi.g_desc, mt.mat_name, gi.qty  FROM good_inward AS gi LEFT JOIN materials AS mt ON mt.id = gi.mat_id  WHERE gi.inward_no='".$order_no."' ORDER BY gi.id ASC");
	 $order_items->execute();
	 $item_rows = $order_items->fetchAll(PDO::FETCH_ASSOC);
	 ?>
      <div class="table-responsive" style="border:1px solid #000;padding:10px; background:#fff;">
        <table class="table mb-0 table-striped" style="background:#fff;" >
		<thead>
          <tr class="fw-bolder text-muted bg-light-dark">
		   <td><strong>#</strong></td>
            <td><strong>Item</strong></td>
			<td><strong>Description</strong></td>
            <td><strong>Qty</strong></td>
          </tr>
        </thead>
          <tbody>
		  <?php 
		  $count =0;
		  $total = 0;
		  foreach($item_rows as $row){
		  $count++;
		  ?>
            <tr>
              <td><?php echo $count; ?></td>
              <td><?php echo titleCase($row['mat_name']); ?></td>
			  <td><?php echo titleCase($row['g_desc']); ?></td>
              <td><?php echo $row['qty']; ?></td>
            </tr>
		<?php } ?>	
          </tbody>
        </table>
      </div>
	  </div>
    </div>
  </main>
    </div>
	<br/><br/>
<button  onclick="jQuery('#print_section').print()" class="btn btn-primary btn-sm btn-small"  id="print">Print <i class="fas fa-print"></i></button>
</div>
</div>	