<?php
$qr= mysql_query("select * from packages ");
?>	
<br/><br/><br/>
			<div class="panel panel-default">
                        <div class="panel-heading">
                             <h3>Packages</h3>
                        </div>
						<br/><span id="packresults"></span><br/><br/>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="list_p">
                                    <thead>
                                        <tr>
                                            <th>Pack Name</th>
                                            <th>Pack Size</th>                                           
											<th></th>											
                                        </tr>
                                    </thead>
                                    <tbody>
									<?php
									while($qr_row=mysql_fetch_assoc($qr)){
									?>
                                       <tr class="odd gradeX">                                        
                                            <td><?php echo titleCase($qr_row['pack_name']); ?></td>
                                            <td><?php echo titleCase($qr_row['pack_size']); ?></td>             
											  <script>
											//When DOM loaded we attach click event to button
											$(document).ready(function() {	
											 //Delete store
												$("#delpack_<?php echo $qr_row['pack_id'];?>").click(function(){												
													$("#packresults").empty();													
													var con = confirm("Are you sure you want to remove this package?");													
													if(con==true){
												//we select the first link 
													//then call the attr method to get back the href value
													var pack_id = $("#delpackval_<?php echo $qr_row['pack_id'];?>").attr("rel");													
													$.post("../process/delete_package.php",
													 { pack_id : pack_id },
													 function(pack_id) {
													 $("#packresults").html(pack_id);											 
												   });											
												}														   
												});
											});
                                           </script>
										   <a href="" id="delpackval_<?php echo $qr_row['pack_id'];?>" rel="<?php echo $qr_row['pack_id'];?>"></a>
											<td><a class="btn btn-xs btn-warning" href="?acc_type=<?php echo $_SESSION['COMSYS_AccountType']; ?>&sec=settings&act=man_mat&ip=edit_pack&pack_id=<?php echo $qr_row['pack_id'];?>">Edit</a></td>
											<td><a class="btn btn-xs btn-danger" href="#list_packages" id="delpack_<?php echo $qr_row['pack_id'];?>">Delete</a></td>
                                        </tr>
								 <?php
								 }
								 ?>
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>
					<script>
            $(document).ready(function () {
                //$('#list_p').dataTable();
            });
          </script>