 <?php
$qr= mysql_query("select * from manufactures ");
?>	
<br/>
			<div class="panel panel-default">
                        <div class="panel-heading">
                             <h3>Manufacturers </h3>
                        </div>
						<br/><span id="manresults"></span><br/><br/>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="list_manufacturers">
                                    <thead>
                                        <tr>
                                            <th>Manufacturer Name</th>
											<th></th>
											<th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
									<?php
									while($qr_row=mysql_fetch_assoc($qr)){
									?>
                                        <tr class="odd gradeX">                                        
                                           <td><?php echo titleCase($qr_row['man_name']); ?></td>
											  <script>
											//When DOM loaded we attach click event to button
											$(document).ready(function() {	
												//Delete store
												$("#delman_<?php echo $qr_row['man_id'];?>").click(function(){												
													$("#manresults").empty();													
													var con = confirm("Are you sure you want to remove this manufacturer?");													
													if(con==true){
												//we select the first link 
													//then call the attr method to get back the href value
													var man_id = $("#delmanval_<?php echo $qr_row['man_id'];?>").attr("rel");													
													$.post("../process/delete_manufacturer.php",
													 { man_id : man_id },
													 function(man_id) {
													 $("#manresults").html(man_id);											 
												      });											
														}
														   
												});
											});
                                           </script>
										   <a href="" id="delmanval_<?php echo $qr_row['man_id'];?>" rel="<?php echo $qr_row['man_id'];?>"></a>
											<td><a class="btn btn-xs btn-warning" href="?acc_type=<?php echo $_SESSION['COMSYS_AccountType']; ?>&sec=settings&act=man_mat&ip=edit_man&man_id=<?php echo $qr_row['man_id'];?>">Edit</a></td>
											<td><a class="btn btn-xs btn-danger" href="#list_manufacturers" id="delman_<?php echo $qr_row['man_id'];?>">Delete</a></td>
                                        </tr>
								 <?php
								 }
								 ?>
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>
					<script>
            $(document).ready(function () {
                //$('#list_manufacturers').dataTable();
            });
    </script>